:root {
  --mono1: #3A3332;
  --mono2: #FEFAF6;
  --red: #D34F46;
  --yellow: #E46B1B;
  --green: #7F911B;
  --blue: #007C61;
}
[darkmode] {
  --mono1: #FEFAF6;
  --mono2: #3A3332;
  --red: #EE917B;
  --yellow: #FDC172;
  --green: #ADB96C;
  --blue: #73B0A3;
  body { background-image: url("../pics/bg-dark.png"); }
}

h1 {text-align: center; margin: .5rem 0 1rem 0; font-size: 2em;}
hr {
  display: block;
  border: 0; height: .25rem; width: 100%;
  background: url("../pics/hr.png");
}
body>hr {display: none;}
img {border-radius: .5rem;}

body {
  display: flex; flex-direction: row;
  justify-content: center; gap: 1rem;
  width: 80%; margin: 1rem auto;
  background-image: url("../pics/bg.png");
}

main>*, footer, body>div>div>* {
  border: 2px solid;
  border-image: url("../pics/border.png") 5 round;
  background-color: var(--mono2);
  padding: .5rem;
}
  body>div {width: 10rem; flex-shrink: 0;}
    div>div {position: sticky; top: 1rem;}
      #darkmode {width:100%;}
      nav>h2, aside>h2 {margin: 0;}
      #snipchubutton {height: 31px; width: 88px; display: block; margin: auto;}
      h1>span:nth-child(4n-3), h2>span:nth-child(4n-3) {color: var(--red);}
      h1>span:nth-child(4n-2), h2>span:nth-child(4n-2) {color: var(--yellow);}
      h1>span:nth-child(4n-1), h2>span:nth-child(4n-1)  {color: var(--green);}
      h1>span:nth-child(4n), h2>span:nth-child(4n)  {color: var(--blue);}
      #statuscafe, main>*>p:last-child, footer>p:last-child {margin: 0;}
      dd {margin-bottom: .5rem;}
      .longword {word-wrap: break-word;}

  #middlecolumn {
    min-width: 16rem; max-width: 25rem;
    flex-grow: 1; flex-shrink: 1;
  }
  #middlecolumn, div>div, main {
    display: flex; gap: 1rem;
    flex-direction: column;
  }
#mobilenav {display: block;}
@media screen and (max-width: 40em) {
  body {flex-direction: column; width: 65%; margin-top: 4rem;}
  body>div {width:100%; min-width: 0;}
  body>hr {display: block;}
  #middlecolumn {min-width: 0; max-width: 100%;}
}

@media screen and (max-width: 25em) {body {width:85%;}}
