#shelf > div > h3 {text-align: center;}
.bookshelf {display: flex; gap: 0.5em; flex-wrap: wrap; justify-content: center; text-align: center;}
.bookshelf > a {font-size: smaller;}
.bookshelf > a > img {display: block; margin: auto;}
