:root {
  --mono1: #3A3332;
  --mono2: #5D5651;
  --mono3: #CDBDB4;
  --mono4: #FEFAF6;
  --red: #D34F46;
  --yellow: #E46B1B;
  --green: #7F911B;
  --blue: #007C61;
}

[darkmode] {
  --mono1: #FEFAF6;
  --mono2: #CDBDB4;
  --mono3: #5D5651;
  --mono4: #3A3332;
  --red: #EE917B;
  --yellow: #FDC172;
  --green: #ADB96C;
  --blue: #73B0A3;
  body {background-image: url("../pics/bg-dark.png");}
}
@font-face {
  font-family: "Inconsolata";
  src: url(./Inconsolata.otf);
}

h1 {text-align: center; margin: .5rem 0 1rem 0; font-size: 2em;}
h2, h3, h4, h5, h6, p {margin: .5rem 0;}
a {color: var(--blue)}
a:hover, a:active {color: var(--green);}
ul {margin: 0.25rem 0; padding: 0; list-style-type: "- "}
li {margin-left: 1.5rem;}
hr {
  display: block;
  border: 0; height: .25rem; width: 100%;
  background: url("../pics/hr.png");
}
body>hr {display: none;}

body {
  display: flex; flex-direction: row;
  justify-content: center; gap: 1rem;
  width: 80%; margin: 1rem auto;
  font-family: Inconsolata; color: var(--mono1);
  background-image: url("../pics/bg.png");
}

body>main>*, body>div>div>* {
  border: 2px solid;
  border-image: url("../pics/border.png") 5 round;
  background-color: var(--mono4);
  padding: .5rem;
}
  body>div { width: 10rem; flex-shrink: 0; }
    div>div {
      position: sticky; top: 1rem;
      display: flex; gap: 1rem;
      flex-direction: column;
    }
      #darkmode {width:100%;}
      nav>h2, aside>h2 { margin: 0; font-size: 1.25em; }
      #snipchubutton {display: block; margin: auto;}
      h1>span:nth-child(4n-3) {color: var(--red);}
      h1>span:nth-child(4n-2) {color: var(--yellow);}
      h1>span:nth-child(4n-1) {color: var(--green);}
      h1>span:nth-child(4n) {color: var(--blue);}

  body>main {
    display: flex; flex-direction: column; gap: 1rem;
    flex-grow: 1; flex-shrink: 1;
    min-width: 15rem; max-width: 25rem;
  }

/* Tablet/Phone support */
@media screen and (max-width: 40em) {
  body {flex-direction: column; width: 65%;}
  body>div, body>main {width:100%; flex-grow: 1; min-width: 0;}
  body>hr {display: block;}
}

@media screen and (max-width: 25em) {
  body {width:85%;}
}
