/* link coloring */
a {color: #021ca2;}
a:hover, a:active {color: #CB4833;}

/* margin and font size changes */
h1, h2 {margin: 0;}
h1 {margin-bottom: 10px; text-align: center;}
h2 {font-size: 20px;}
h3 {margin: 10px 0;}
p {margin: 0 0 5px;}
ul {list-style: square inside; padding-left: 20px;}

/* section box formatting */
h2, .breadcrumb, label[for=buttontextarea]>p,footer {background-color: #97A5C2; padding: 5px; margin: 0;}
.section-main, .sticky-boxes > * {border: 1px solid #97A5C2;}

/* flex containers in column direction */
.main-content, .sticky-boxes, main {display: flex; gap: 10px; flex-direction: column;}

/* mobile */
html {font-family: 'Roboto', sans-serif; color: #181615; background-color: #FAF7F5;}

.body-container {width: 70%; margin: auto;}  
  
  /* header nav */
  .header-nav {display: flex; gap: 10px; justify-content: center; flex-wrap: wrap;}
    .header-nav > * {background-color: #97A5C2; padding: 5px 15px; border-radius: 15px;}

  /* main section */
  main {width: 100%;}
  .main-content {margin: 10px 0;}
    .section-body {padding: 5px;}

  /* sidebar*/
  .sticky-boxes {position: sticky; top: 10px;}
    .sticky-trinkets {padding: 5px; display: flex; gap: 5px;}
      .sticky-trinkets > textarea {height: 27px; padding: 0; width: 80px; resize: none; flex-grow: 1;} 
  
  /* footer */
  footer {display: flex; justify-content: space-between;}
    footer > p {margin: 0;}

/* Computer support */
@media screen and (min-width: 800px) {
  .body-container {width: 50%;}
  .main-content {flex-direction: row;}
}
