/* color credit: tinyheads on tumblr */
:root {
  --textcolor: #000;
  --color1: #fcd797;
  --color2: #edac78;
  --color3: #c97862;
  --color4: #454873;
  --color5: #53668a;
}

h1 {text-align: center; margin: 1rem 0;}
h2 {margin: .75rem 0;} h3, h4, h5 {margin: .5rem 0;} 
p {margin: .25rem 0;}
dl {margin: 0;} dd {margin-left: 2rem;}

body {
  display: flex; flex-direction: row;
  justify-content: center; gap: 1rem;
  width: 55%; margin: 1rem auto;
  font-family: sans-serif; color: var(--textcolor);
}

body>nav, body>div {
  border: 1px solid black; 
  width: 10rem; flex-grow: 0.25; flex-shrink: 0;
}
  nav>dl, div>aside {
    position: sticky; top: 1rem;
    border: 1px solid black;
  }

body>main {
  border: 1px solid black;
  flex-grow: 1; flex-shrink: 1;
}
  #mainpic {width: 100%;}
