[darkmode] { 
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  h1,h2 {background-color: #88924A;}
}
html {
  background-image: url("../../pics/shrines/bg-tmgc.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
}
h1,h2 {
  margin: 0; padding: .5rem;
  background-color: #ADB96C;
}
h1 {font-size: 2rem; text-align: center; margin-bottom: .5rem;}
#navheader {display: inline-block;}
.index, .collection, .logs, .guides {display: none;}
.index {display: block;}

body {
  width: 45rem; margin: auto;
  background-color: #FEFAF6;
  margin-top: 1rem;
  padding: .5rem; display: flex; gap: .5rem;
}

main {flex-grow: 1; flex-shrink: 1;}
  .tamashells {width: 6rem; padding: 0 1.5rem;}

#sideholder {
  flex-grow: 0; flex-shrink: 0;
  width: 12rem;
}
#sideholder>div {
  position: sticky; top: .5rem;
}
  #navpic { width: 100%; box-sizing: border-box; aspect-ratio: 3/1.5; }
  #tabs {
    margin: 0; padding: 0;
    column-count: 2; gap: .5rem;
  }
    #tabs>li {margin: 0; padding: 0; list-style: none;}
    #tabs>li>button {
      width: 100%; height: 100%;
      margin: .5rem 0 0 0; padding: 0;
      background-color: gray; border-radius: 0;
    }

@media screen and (max-width: 60em) {
  body {width: 80%;}
  #sideholder {width: 10rem;}
}

@media screen and (max-width: 40em) {
  body {flex-direction: column;}
  #sideholder {width: auto; order: 1;}
  main {order: 2;}
}
