:root {
  --mono1: #32312B;
  --mono2: #F6F5F0;
  --greenlink: #647342;
  --greenlink2: #6E8735;
  --lightgreen: #b2ca7c;
}
[darkmode] { 
  background-color: rgba(0,0,0,.4);
  background-blend-mode: multiply;
  --mono1: #F6F5F0;
  --mono2: #32312B;
  h1,h2, #sideholder>div * button, #buttondark {background-color: #647342;}
  a {color: var(--lightgreen);}
  hr {background-image: url("/pics/shrines/hr-dark.png");}
}

hr {
  background-image: url("/pics/shrines/hr.png");
  margin: .5rem 0; width: 100%; height: .25rem;
  display: block; border: 0;
}
a {color: var(--greenlink);}
a:hover, a:active {color: var(--greenlink2);}
ul {margin: .5rem 0;}
h1,h2 {margin: 0; padding: .5rem; background-color: var(--lightgreen); margin-bottom: .5rem;}
h1 {font-size: 2rem; text-align: center; color: var(--mono1);}

/* body css */
html { background-image: url("../../pics/shrines/bg-tmgc.png"); }
body {
  width: 45rem; margin: 1rem auto;
  padding: .5rem; display: flex; gap: .5rem;
}
  main {flex-grow: 1; flex-shrink: 1;}
    .tamashells {width: 6rem; float: left; margin: auto 1.5rem;}
    #loglist {width: 100%;}
    #loglist>tbody>tr>td:nth-child(1) {width: 20%;}
    #loglist>tbody>tr>td:nth-child(2) {width: 20%;}
    #loglist>tbody>tr>td:nth-child(3) {width: 30%;}
    #loglist>tbody>tr:nth-child(even) {background: color-mix(in srgb, var(--mono1) 15%, transparent);}
    #logfilters>label {display: flex; align-items: center; margin-bottom: .5rem; gap: 2rem;}
    #logfilters>label>select {width: 20rem; margin-left: auto;}
  #sideholder {
    flex-grow: 0; flex-shrink: 0;
    width: 12rem;
  }
    #sideholder>div {position: sticky; top: .5rem;}
      #navpic {width: 100%; box-sizing: border-box; aspect-ratio: 3/1.5;}
      #tabs {margin: 0; padding: 0; column-count: 2; gap: .5rem;}
        #tabs>li {margin: 0; padding: 0; list-style: none;}
        #sideholder>div * button, #buttondark {
          width: 100%; height: 100%; color: var(--mono1);
          margin: .5rem 0 0 0; padding: .25rem;
          background-color: var(--lightgreen);
          border: 0;
        }
        #buttondark {width: 100%; margin:0 0 .5rem 0;}

@media screen and (max-width: 60em) {
  body {width: 80%;}
  #sideholder {width: 10rem;}
  #logfilters>label>select {width: 14rem;}
  .tamashells {width: 4rem;}
}
@media screen and (max-width: 40em) {
  body {flex-direction: column;}
  #sideholder {width: auto; order: 1;}
  main {order: 2;}
  #sideholder>div>*:nth-child(-n+2) {display: none;}
  #logfilters>label>select {min-width: 0;}
  .tamashells {padding: 0 .5rem;}
}

/* show index on load */
.collection, .logs, .guides {display: none;}
.index {display: block;}
