body {
  background-color: var(--white);
  color: var(--black); margin: 0;
}
header {
  padding: 1.5rem 0;
  background-color: var(--yellow);
}
header img {max-width: 15rem; margin: auto;}
header img:hover {transform: scale(102%);}
main { width: 70%; margin: 1rem auto; }
h1, h3 {text-align: center;}
h3 {font-size: 1.25rem;}
.grid4 {flex-wrap: wrap; width: 100%;}
.grid4>aside {
  flex-grow: 1; width: 100%;
  padding: .5rem;
}
#linkbox { 
  margin: 0.5rem 0; padding: 0;
  list-style-type: none; flex-wrap: wrap;
  justify-content: space-between;
}
#linkbox>li {
  padding: .5rem 1rem; margin: 0;
  background-color: var(--tan);
  text-align: center;
  border-radius: 2rem;
}
#infobox>aside:nth-child(1) {background-color: var(--red);}
#infobox>aside:nth-child(2) {background-color: var(--yellow);}
#infobox>aside:nth-child(3) {background-color: var(--green);}
#infobox>aside:nth-child(4) {background-color: var(--blue); color: var(--white);}
#infobox>aside:nth-child(4) a {color: var(--yellow);}
#infobox>aside:nth-child(4) a:hover {color: var(--tan);}

#favorites>aside {flex-direction: column; background-color: var(--tan);}
#favorites>aside>img {height: 6rem;}
@media screen and (min-width: 40rem) {
  #favorites>aside>div {width: 70%; flex-shrink: 0;}
  #favorites>aside {flex-direction: row;}
  #favorites>aside>img {height: auto;}
  .grid4>aside {width: 45%;}
  .grid4 {flex-wrap: wrap;}
}
