.flexbox { display: flex; gap: .5rem; }

/* 3 blocks */
.threeblocks {
  width: 100%;
  display: flex; gap: .5rem;
  flex-direction: column;
}
.threeblocks>.flexbox {max-height: 8rem;}
.threeblocks>.flexbox>a>img {height: 100%; width: 100%;}
.threeblocks>a>h2 {margin: 0;}
.threeblocks a {flex-grow: 1;}
.threeblocks img {width: 100%; display: block;}
