/* 3 blocks */
.threeblocks {
  display: flex; gap: .5rem; width: 100%; height: 20rem;
  flex-direction: column; margin: 0;
}
.threeblocks > a {min-height: 0; flex-grow: 1;}
.threeblocks h2 {margin: 0;}
.threeblocks>.flexbox {height: 30%;}
.flexbox { display: flex; gap: .5rem; }
.flexbox>* {flex-grow: 1;}

@media screen and (min-width: 40rem) {
  .threeblocks > a {min-height: 0; flex-grow: 1;}
  .threeblocks {height: 100%;}
}
