footer>div * {margin: 0; padding: 0;}
footer>div, footer ul {
  display: flex; gap: .5rem;
  flex-direction: column;
}
footer { background-color: var(--yellow); padding: .5rem 0;}
footer>div {margin: auto; width: 70%;}
footer li {list-style-type: none;}
footer svg {display: inline-block;}
@media screen and (min-width: 40rem) {
  footer nav {margin-left: auto;}
  footer>div, footer ul {flex-direction: row;}
}
