footer>div, footer>div>nav>ul {
  display: flex; gap: .5rem;
  flex-direction: column;
  justify-content: space-between;
}
footer { background-color: var(--yellow); padding: .5rem 0;}
footer>div {margin: auto; width: 70%;}
footer>div * {margin: 0 !important; padding: 0 !important;}
footer>div>nav>ul>li {list-style-type: none;}

@media screen and (min-width: 40rem) {
  footer>div, footer>div>nav>ul {flex-direction: row;}
}
