:root {
  --white: #FAECE3;
  --tan: #DBB9A2;
  --brown: #6A4328;
  --black: #191715;
  --red: #FF2313;
  --yellow: #FFBB00;
  --green: #76BA00;
  --blue: #225ED6;
  --purple: #860AAC;
  --blue-link: #023CCF;
  --purple-link: #660099;
}
* {font-family: 'Roboto';}
h1 {margin: 1rem 0;}
h2,h3,h4,h5,h6,p,li {margin: 0.5rem 0;}
img {
  display: block; object-fit: cover;
  width: 100%; height: 100%;
  image-rendering: pixelated;
}
hr {
  display: block;
  border: 0; margin: 1rem 0;
  height: 3px; width: 100%;
  background: url("../assets/hr.png");
}
.addborder {
  border: .2rem solid;
  border-image: url("../assets/border.png") 5 round;
}
a { color: var(--blue-link); }
a:hover, a:visited, a:active { color: var(--purple-link); }
