body {
  background-color: var(--white);
  color: var(--black); margin: 0;
}
header {
  padding: 1rem 0;
  background-color: var(--yellow);
}
header img {width: auto; margin: auto;}
header img:hover {transform: rotate(.2rad);}

main { width: 70%; margin: 1rem auto; }
h1 {text-align: center;}

#linkbox {flex-direction: column; width: 100%;}
#linkbox>aside>h2 {margin-top: 0;}
#linkbox a:hover {transform: rotate(.02rad);}

#stamplist {
  margin: 0; padding: 0;
  display: flex; gap: .5rem; min-width: 88px;
  flex-wrap: wrap; flex-grow: 1;
  justify-content: space-between;
}
#stamplist li {
  margin: auto;
  list-style-type: none;
}
#stamplist img {border: 1px solid var(--black);}
#stamplist img:hover {border: 1px solid var(--blue);}

@media screen and (min-width: 40rem) {
  #stamplist { flex-direction: column; }

  #linkbox {flex-direction: row; height: 20rem;}
  #infobox>aside {width: 45%;}
}
