body {
  background-color: var(--white);
  color: var(--black); margin: 0;
}
header {
  padding: 1.5rem 0;
  background-color: var(--yellow);
}
header img {max-width: 15rem; margin: auto;}
header img:hover {transform: scale(102%);}
main { width: 70%; margin: 1rem auto; }
h1 {text-align: center;}

#projectbox { flex-direction: column; }
#projectbox>article {
  background-color: var(--tan);
  padding: .5rem; flex-direction: column;
}
#projectbox a {height: 10rem;}
#projectbox div { order: 1; }
#projectbox a:hover {transform: rotate(.02rad);}

@media screen and (min-width: 40rem) {
  #projectbox>article {flex-direction: row;}
  #projectbox div {flex-shrink: 1; order: 0; }
  #projectbox a {width: 35%; flex-shrink:0; flex-grow: 0;}
}

