body {
  background-color: var(--white);
  color: var(--black); margin: 0;
}
header {
  padding: 1.5rem 0;
  background-color: var(--yellow);
}
header img {max-width: 15rem; margin: auto;}
header img:hover {transform: scale(102%);}
main { width: 70%; margin: 1rem auto; }
h1 {text-align: center;}
