/* style-my-tootltips plugin, tooltip styling */
#s-m-t-tooltip{
	/* basic */
	max-width:300px;
	z-index:10;
	margin:24px 14px 7px 12px;
	/* style and design */
	padding:8px;
	background:#222; /* fallback if rgba not supported */
	background:rgba(0,0,0,.7);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	/* font */
	font-family:Roboto;
	font-size:12px;
	line-height:10px;
	color:#fff;
}
