---
import { Image } from 'astro:assets';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';
import '../styles/flexbox.css';
import '../styles/global.css';
import '../styles/about.css';
import '@fontsource/roboto';

import stamp from '../assets/stamp.png';
import hr from '../assets/hr.png';
import border from '../assets/border.png';
---
<html lang="en">
  <Head/>
  <body>
    <header><a href="/">
      <Image src={stamp} alt="yay"/>
    </a></header>
    <main>
      <h1>whoami</h1>
      <p>foo..........</p>
      <h2>contact me at:</h2>
      <nav><ul id="linkbox" class="flexbox">
        <li><a href="https://github.com/snipchu">github</a></li>
        <li><a href="https://snipchu.itch.io">itch.io</a></li>
        <li><a href="mailto:mr.bunny262@slmails.com">e-mail</a></li>
      </ul></nav>
      <h2>qualifications</h2>
      <article id="infobox" class="flexbox">
        <aside>
          <h3>skills</h3>
          <ul>
            <li>Experience in Python, Java, C, HTML/CSS/JS, and GDscript</li>
            <li>Skilled with Linux, KiCad, Godot Engine, Packet Tracer, and ROS2</li>
          </ul>
        </aside>
        <aside>
          <h3>certifications</h3>
          <ul>
            <li>OSHA 10-Hour Certification</li>
            <li>Technician Amataur Radio License - KJ5CYY</li>
          </ul>
        </aside>
        <aside>
          <h3>awards</h3>
        </aside>
        <aside>
          <h3>extracurriculars</h3>
          <ul>
            <li>Roboboat (<a href="https://mhsroboboat.com">MHSeals</a>)</li>
            <li>Cyberpatriot 16/17</li>
            <li>Artist at Hack Club</li>
          </ul>
        </aside>
      </article>

      <h2>favorites list</h2>
      <article id="favorites">
        <aside>
          <Image src={stamp} alt=""/>
          <h3>title</h3>
          <p>blah blah blah filler text here</p>
        </aside>
        <aside>
          <Image src={stamp} alt=""/>
          <h3>title</h3>
          <p>blah blah blah filler text here</p>
        </aside>
      </article>
    </main>
    <Footer/>
  </body>
</html>
