---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>bunnyguy island v8</title>
  </head>
  <body>
    <h1>bunnyguy island - astro port</h1>
    <p>thank you for visiting bunnyguy island Ported to astro.</p>
    <a href="../archive.zip">Download an archive of previous version here</a>
  </body>
</html>
