---
import Header from '../components/header.astro'
import Threeblocksnav from '../components/threeblocksnav.astro'
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>bunnyguy island v8</title>
  </head>
  <body>
    <Header/>
    <main>
      <h1>my header goes here</h1>
      <section>
        <Threeblocksnav
          img1="/src/assets/img1.jpg"
          img2="/src/assets/img2.jpg"
          img3="/src/assets/img3.jpg"
          img1alt="yippee"
          img2alt="yippee"
          img3alt="yippee"
        />
        <Threeblocksnav
          img1="/src/assets/img1.jpg"
          img2="/src/assets/img2.jpg"
          img3="/src/assets/img3.jpg"
          img1alt="yippee"
          img2alt="yippee"
          img3alt="yippee"
        />
      </section>
      <footer>
        <p>my footer section goes here</p>
      </footer>
    </main>
  </body>
</html>
