---
import '../styles/footer.css';
import '../styles/global.css';
import { Icon } from 'astro-icon/components';
---
<footer><div>
  <div>
    <Icon name="material-symbols:dark-mode"/>
    <Icon name="material-symbols:dark-mode"/>
  </div>
  <p>© bunnyguy 2024</p>
  <nav><ul class="flexbox">
    <li><a href="">sitemap</a></li>
    <li><a href="">about the website</a></li>
  </ul></nav>
</div></footer>
