---
import '../styles/footer.css';
import '../styles/global.css';
---
<hr id="footerbreak">
<footer>
  <p>© bunnyguy 2024</p>
  <nav><ul>
    <li><a href="">sitemap</a></li>
    <li><a href="">about the website</a></li>
  </ul></nav>
</footer>
